
.bor_btm {
    border-bottom: 4px solid #fab700;
}

.for_js li {
    display: inline;

}

.for_js li a {
    font-size: 15px;

}

.mar_for_p {
    margin-left: 82px;
    margin-right: 42px;
}

.mar_for_t_p {
    margin-left: 98px;
    background-color: white;
    padding: 23px;
}

.footer_custom {
    position: relative;
    background-color: #46463f;
    height: 31%;
    border-top: 12px solid yellow;
}

.portfolio_inner_area {
    margin-left: 30%;
    margin-right: 30%;
}

.pro_ul li {
    display: inline;

}

.top_banner {
    padding: 14px 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

.latest ol li {
    padding: 12px;
    border-bottom: 1px solid #7b707a7a;
}

.btd-custom {
    background: #fab700;
    width: 24px;
    border: 2px;
    border-radius: 11px !important;
}

.pcat {
    font-weight: bold;
    color: gray;
    font-size: 19px;
}

.btn_custom {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fab700;
    border: 2px solid #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 12px 20px;
    margin-right: 20px;
    display: inline-block;
}

.btn_custom:hover {
    color: #f5b403;
}

.logo {
    margin-top: 5px;
}

.top_header {
    margin-left: 111px;
}

body {
    font-family: "Poppins", Arial, sans-serif !important;
}

.top_m {
    float: right;
    margin-top: 5%;
}

.bg-z {
    height: 622px;
}

.logo_lyric {
    color: white;
    margin-top: 20px;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 33px;
}

.login_box {
    border: 1px solid #1918182e;
    background-color: white;
    width: 312px;
    height: 422px;
    margin-left: 17%;
    box-shadow: 2px 0px 20px;

}

.login_box_title {
    background-color: #48538c;
    width: 322px;
    margin-left: -7px;
    margin-top: 8%;
    text-align: center;
    height: 47px;
    padding: 12px;
    font-size: 22px;
}

.footer_img {
    float: right;
    width: 61px;
    margin-top: 5%;
    float: left;
    margin-right: 4% !important;
    border: 2px solid #5d5d57;
    border-radius: 32px !important;
    background-color: #fab700;
}

.login_parent {
    padding: 122px;
}

.latest {

    border: 1px solid #cdc2c2;
    border-bottom: 2px solid gray;
    background-color: white;
    padding: 12px;
    box-shadow: 2px 0px 20px;
}

.login_lyrics {
    margin-left: 192px;
    margin-top: 123px;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 30px;
    font-family: "Poppins";
    color: #45454a;
    font-weight: 500;
}

.login_lyrics_two {
    color: #827575;
    font-size: 21px;
    margin-left: 192px;
    margin-top: 13px;
}

.form_yk {
    padding-left: 12px;
    width: 271px;
    margin-left: 12px;
    height: 42px;
    /*border-radius: 9px !important;*/
    color: black;
    background-color: #c1c1c17a;
    border: 1px solid #b1a5a52e;
}

.phone_top {
    text-align: center;
    white-space: nowrap;
    color: white;
    font-weight: bolder;
    border: 1px solid #fab700;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #fab700;
}

.about_us {
    text-align: center;
    white-space: nowrap;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.for_pad_login {
    background-color: white;
    margin-left: 172px;
    margin-right: 172px;
    min-height: 621px;
    border-bottom: 2px solid #c3bcbc;
}

@media (max-width: 1566px) {
    .portfolio_inner_area {
        margin-top: 25px;
        margin-left: 3%;
        margin-right: 3%;
    }

    .for_pad_login {
        min-height: 1021px;
        margin-left: 1px;
        margin-right: 1px;
        border-bottom: 2px solid #c3bcbc;

    }

}

@media only screen and (max-width: 900px) {
    .mar_for_t_p {
        margin-left: 2px;
        margin-right: 2px;
    }

    .mar_for_p {
        margin-left: 2px;
        margin-right: 2px;
    }

    .top_m {
        float: none;
        margin-top: 5%;
    }

    .portfolio_inner_area {
        margin-top: 25px;

        margin-left: 3%;
        margin-right: 3%;
    }

    .for_pad_login {
        min-height: 721px;
        margin-left: 1px;
        margin-right: 1px;
        border-bottom: 2px solid #c3bcbc;
    }

    .latest {

        border: 1px solid #cdc2c2;
        border-bottom: 2px solid gray;
        background-color: white;
        padding: 12px;
        box-shadow: 2px 0px 20px;
    }

    .bg-z {
        height: 822px;
    }

    .login_parent {
        padding: 12px;
        margin-left: 1px;
    }

    .top_header {
        margin-left: 111px;
    }

    .login_box {
        border: 1px solid #b1a5a52e;
        background-color: white;

        width: 312px;
        height: 422px;
        border-radius: 22px !important;
        box-shadow: 2px 0px 20px;
    }

    .login_box_title {
        background-color: #345884;
        width: 322px;
        margin-left: -7px;
        margin-top: 8%;
        text-align: center;
        height: 47px;
        padding: 12px;
        font-size: 22px;
    }

    .form_yk {
        padding-left: 12px;
        width: 271px;
        margin-left: 22px;
        height: 42px;
        border-radius: 9px !important;
        color: black;
        background-color: #c1c1c17a;
        border: 1px solid #b1a5a52e;
    }

    .login_lyrics {
        color: #45454a;
        font-size: 23px;
        margin-left: 12px;
        margin-top: 63px;
        font-weight: 500;

    }

    .login_lyrics_two {
        color: #3e3d3d;
        font-size: 17px;
        margin-left: 19px;
        margin-top: 13px;
    }

}
